@font-face {
  font-family: "Play";
  src: url("../fonts/Play.woff2") format("woff2"), url("../fonts/Play.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --first-font-family: "Play", sans-serif;
  --second-font-family: "OpenSans", sans-serif;

  /* Цветовая палитра */
  --main-white: rgba(255, 255, 255, 1);
  --main-black: rgba(0, 0, 0, 1);
  /* Фоны */
  --background-header: rgba(10, 25, 44, 1);
  --background-footer: rgba(56, 56, 74, 1);
  --background-main-section: linear-gradient(to bottom, var(--background-header), var(--background-footer));
  --background-modal: rgba(0, 0, 0, 0.7);
  --background-card: rgba(97, 97, 97, 1);
  ;
  /* Меню */
  --menu-underline: rgba(220, 93, 252, 1);
  /* Кнопки */
  --background-gray-primary: rgba(57, 59, 60, 1);
  --background-gray-secondary: rgba(51, 51, 51, 1);
  --background-lightblue: rgba(103, 165, 235, 1);
  --background-dirtyblue: rgba(69, 82, 110, 1);
  /* Inputs */
  --content-placeholder: rgba(0, 0, 0, 0.4);
  --content-active: rgba(180, 169, 255, 1);
  --content-error: rgba(255, 117, 117, 1);
  /* Labels */
  --gold-label: rgba(165, 148, 0, 1);
  --green-label: rgba(48, 142, 33, 1);
  --gray-label: rgba(119, 119, 119, 1);
  --red-label: rgba(200, 32, 32, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-family: "Play", "OpenSans", sans-serif;
  color: var(--main-white);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
a,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 100%;
}

input:focus,
button:focus {
  outline: none;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}


/* Global */

.container {
  margin: 0 auto;
  padding-inline: 80px;
  max-width: 1440px;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 64px;
}

.section-desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 64px;
}

.icon {
  width: 23px;
  height: 23px;
}

.img-poster {
  object-fit: cover;
  overflow: hidden;
}

.hidden {
  display: non;
}

/* Button Styles */
button {
  padding-inline: 48px;
  padding-block: 16px;
  background-color: inherit;
  border: none;
  border-radius: 28px;
  color: var(--main-white);
  font-family: var(--first-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  cursor: pointer;
}

.btn-auth {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.btn-trailer {
  background-color: var(--background-lightblue);
}

.btn-info {
  background-color: var(--background-gray-primary);
}

.btn-actions {
  padding-inline: 22px;
  background-color: var(--background-gray-secondary);
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 48px;
  height: 48px;

  border-radius: 24px;
  background-color: var(--main-white);
  cursor: pointer;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Стили rating-label */
.rating-label {
  display: flex;
  align-items: center;
  padding-inline: 12px;
  padding-block: 4px;
  width: min-content;
  border: none;
  border-radius: 16px;
}

.gold-label {
  background-color: var(--gold-label);
  /* Золотой цвет */
}

.green-label {
  background-color: var(--green-label);
  /* Зеленый цвет */
}

.gray-label {
  background-color: var(--gray-label);
  /* Серый цвет */
}

.red-label {
  background-color: var(--red-label);
  /* Красный цвет */
}

.rating-value {
  display: flex;
  font-family: Play;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--main-white);
}

.rating-value::before {
  /* Символ звезды */
  content: "\2605";
  color: var(--main-white);
  margin-right: 6px;
}

.top-label {
  display: flex;
  align-items: center;
  padding-inline: 24px;
  padding-block: 8px;
  width: min-content;
  border: none;
  border-radius: 16px;
  background-color: var(--main-white)
}

/* Modal windows styles */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 900;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-modal);
  overflow-x: hidden;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__btn-close img {
  width: 24px;
}

/* Modal Trailer Styles */
.trailer {
  position: relative;
  padding-inline: 72px;
  /* wrapper */
  width: 1104px;
  height: 540px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trailer__screen {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 960px;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Modal Styles */
.modal {
  position: relative;
  padding-inline: 72px;
  width: 564px;
  height: auto;

  overflow-y: auto;
  overscroll-behavior-inline: contain;
}

.modal__btn-enter {
  width: 100%;
  margin-bottom: 24px;
  background-color: var(--background-lightblue);
}

.modal__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 40px;
  padding-block: 64px 32px;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: var(--main-white);
}

.modal__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.modal__logo {
  margin-bottom: 32px;
  width: 132px;
}

.modal__title {
  color: var(--main-black);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 24px;
}

.modal__desc {
  color: var(--main-black);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
}

.modal__input {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  color: var(--content-placeholder);
  border: 1px solid var(--content-placeholder);
  border-radius: 8px;
  background-color: var(--main-white);
  background-repeat: no-repeat;
  background-position: center left 16px;
  transition: border .3s ease;
}

.modal__input::placeholder {
  padding-left: 36px;
}

.modal__input:hover {
  border: 1px solid var(--content-active);
}

.mail-icon {
  background-image: url('/icons/email-icon.svg');
  transition: background-image .3s ease;
}

.mail-icon:hover {
  background-image: url('/icons/email-icon-active.svg');
}

.name-icon {
  background-image: url('/icons/name-icon.svg');
}

.password-icon {
  background-image: url('/icons/password-icon.svg');
  transition: background-image .3s ease;
}

.password-icon:hover {
  background-image: url('/icons/password-icon-active.svg');
  transition: background-image .3s ease;
}

.link-register {
  color: var(--main-black);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  cursor: pointer;
}